<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css"
    />
    <title>{% block title%}{% endblock%}</title>
  </head>
  <body>
    <div class="ui grid">
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui segment header-segment">
            <img class="logo" src="/static/images/logo.png" alt="logo" />
            <h1>Sınıflandırma ve Prediction Projesi</h1>
            <img class="logo" src="/static/images/logo.png" alt="logo" />
          </div>
        </div>
      </div>
      <div class="stretched row">
        <div class="eleven wide column" style="overflow-x: auto">
          <div class="ui top attached header form-header">Veri Seçimi</div>
          <form
            class="ui form attached segment"
            action="/"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="two fileds">
              <div class="field">
                <div class="ui file input"></div>
              </div>
              <div class="ui fluid action huge input">
                <div class="ui file input">
                  <input type="file" name="file" accept=".csv" />
                </div>
                <button
                  type="submit"
                  class="ui icon button"
                  onclick="loading()"
                >
                  <i class="upload large green icon"></i>
                </button>
              </div>
            </div>
          </form>
          <br />
          <div class="ui top attached header">
            Okunan Veri - Temizlenmiş Veri
          </div>
          <div class="ui attached segment">
            {% if data %}{{ data | safe }}{% endif %}
          </div>
        </div>

        <div class="five wide column">
          <div class="ui top attached header form-header">
            Sınflandırma Eğitimi
          </div>
          <form
            class="ui form attached segment"
            action="/train"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="two fields">
              <div class="field">
                <label>Features Seçin</label>
                <select
                  name="features"
                  class="ui fluid search dropdown"
                  multiple=""
                >
                  <option value="">Features</option>
                  {% for column in column_names %}
                  <option value="{{ column }}">{{ column }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="field">
                <label>Target Seçin</label>
                <select name="target" class="ui fluid search dropdown">
                  <option value="">Target</option>
                  {% for column in column_names %}
                  <option value="{{ column }}">{{ column }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <br />
            <div class="two fields">
              <div class="field">
                <label>Model Seçin</label>
                <select class="ui fluid search dropdown" name="model">
                  <option value="">Models</option>
                  <option value="Support Vector Machines">
                    Support Vector Machines - SVM
                  </option>
                  <option value="Decision Trees">Decision Trees</option>
                  <option value="Random Forests">Random Forests</option>
                  <option value="Lojistik Regresyon">Lojistik Regresyon</option>
                  <option value="K-Nearest Neighbors">
                    K-Nearest Neighbors - KNN
                  </option>
                </select>
              </div>
              <div class="field">
                <label>Performans Metriği Seçin</label>
                <select class="ui fluid search dropdown" name="traintest">
                  <option value="">Performans Metriği</option>
                  <option value="0.2">%80 - %20</option>
                  <option value="0.3">%70 - %30</option>
                </select>
              </div>
            </div>
            <div class="field">
              <button
                type="submit"
                class="ui teal fluid button"
                onclick="loading()"
                formaction="/train"
              >
                Eğitime Başla
              </button>

              <input
                type="hidden"
                name="selected_data"
                value="{{selected_data | safe}}"
              />
            </div>
          </form>
          <br />
          <div class="ui top attached header form-header">Tahmin Eğitimi</div>
          <form
            class="ui form attached segment"
            action="/predict"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="two fields">
              <div class="field">
                <label>Features Seçin</label>
                <select
                  name="features"
                  class="ui fluid search dropdown"
                  multiple=""
                >
                  <option value="">Features</option>
                  {% for column in column_names %}
                  <option value="{{ column }}">{{ column }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="field">
                <label>Target Seçin</label>
                <select name="target" class="ui fluid search dropdown">
                  <option value="">Target</option>
                  {% for column in column_names %}
                  <option value="{{ column }}">{{ column }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <br />
            <div class="two fields">
              <div class="field">
                <label>Model Seçin</label>
                <select class="ui fluid search dropdown" name="model">
                  <option value="">Models</option>
                  <option value="Lineer Regresyon">Lineer Regresyon</option>
                  <option value="Ridge Regresyonu">Ridge Regresyonu</option>
                  <option value="Lasso Regresyonu">Lasso Regresyonu</option>
                  <option value="Karar Ağacı Regresyonu">
                    Karar Ağacı Regresyonu
                  </option>
                  <option value="Rastgele Orman Regresyonu">
                    Rastgele Orman Regresyonu
                  </option>
                </select>
              </div>
              <div class="field">
                <label>Veri Bölme Oranı Seçin</label>
                <select class="ui fluid search dropdown" name="split_ratio">
                  <option value="">Veri Bölme Oranı</option>
                  <option value="0.2">%80 - %20</option>
                  <option value="0.3">%70 - %30</option>
                  <option value="kfold-5">5-Fold Cross Validation</option>
                  <option value="kfold-10">10-Fold Cross Validation</option>
                </select>
              </div>
            </div>
            <div class="field">
              <button
                type="submit"
                class="ui teal fluid button"
                onclick="loading()"
                formaction="/predict"
              >
                Tahmine Başla
              </button>

              <input
                type="hidden"
                name="selected_data"
                value="{{selected_data | safe}}"
              />
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
    <script>
      $(".ui.dropdown").dropdown();
      function loading() {
        $(".ui.button").addClass("loading disabled");
      }
    </script>
  </body>
</html>
