<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css"
    />
    <title>{% block title%}{% endblock%}</title>
  </head>
  <body>
    <div class="ui grid container">
      <div class="stretched row">
        <div class="eight wide column">
          <div class="ui segment">
            <p>Seçilen Özellikler: <b>{{selected_features | safe}}</b></p>
            <p>Seçilen Hedef: <b>{{selected_target | safe}}</b></p>
            <p>Seçilen Model: <b>{{selected_model | safe}}</b></p>
            <p>Performans Metriği: <b>{{selected_performance | safe}}</b></p>
            {% if mse %}
            <h2>Model Performance</h2>
            <p>Selected Model: {{ selected_model }}</p>
            <p>MSE: {{ mse }}</p>
            <p>R2:</p>
            <pre>{{ r2 }}</pre>
            <p>YPrediction:</p>
            <pre>{{ y_pred }}</pre>
            {% else %}
            <p>No results to display.</p>
            {% endif %} {% if confusion_matrix_url %}
            <h3>Karışıklık Matrisi</h3>
            {% endif %}
          </div>
        </div>
        <div class="eight wide column">
          <div class="ui segment">
            <img src="{{ scatter_path }}" alt="Confusion Matrix" />
          </div>
          <div class="ui segment">
            <img src="{{ error_path }}" alt="Confusion Matrix" />
          </div>
        </div>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
    <script>
      $(".ui.dropdown").dropdown();
    </script>
  </body>
</html>
