<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css"
    />
    <title>{% block title%}{% endblock%}</title>
  </head>
  <body>
    <div class="ui grid">
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui segment header-segment">
            <img class="logo" src="/static/images/logo.png" alt="logo" />
            <h1>Sınıflandırma Sonuçları</h1>
            <img class="logo" src="/static/images/logo.png" alt="logo" />
          </div>
        </div>
      </div>
      <div class="stretched row">
        <div class="eight wide column">
          <div class="ui segment">
            <p>Seçilen Özellikler: <b>{{selected_features | safe}}</b></p>
            <p>Seçilen Hedef: <b>{{selected_target | safe}}</b></p>
            <p>Seçilen Model: <b>{{selected_model | safe}}</b></p>
            <p>Performans Metriği: <b>{{selected_performance | safe}}</b></p>
            {% if accuracy %}
            <h2>Model Performance</h2>
            <p>Selected Model: {{ selected_model }}</p>
            <p>Accuracy: {{ accuracy }}</p>
            <p>Classification Report:</p>
            <pre>{{ class_report }}</pre>
            <p>Confusion Matrix:</p>
            <pre>{{ conf_matrix }}</pre>
            {% elif avg_score %}
            <p>Scores: {{ cv_scores }}</p>
            <p>AVG Scores: {{ avg_score }}</p>
            {% endif %}
          </div>
        </div>
        {% if accuracy %}
        <div class="eight wide column">
          <div class="ui segment">
            <img src="{{ conf_matrix_path }}" alt="Confusion Matrix" />
          </div>
          <div class="ui segment">
            <img src="{{ accuracy_path }}" alt="Confusion Matrix" />
          </div>
          <div class="ui segment">
            <img
              src="{{ class_report_precision_path }}"
              alt="Confusion Matrix"
            />
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
    <script>
      $(".ui.dropdown").dropdown();
    </script>
  </body>
</html>
